@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PenPal!</h1>
    <p>This is a website to meet people around the world and learning about each others culture and language</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","Register")" role="button">Sign Up!</a></p>
</div>

